<h1>Task List</h1>

<%= link_to "Add a Task", new_task_path %>

<%= render partial: "form" %>

<ul>
    <% @tasks.each do |task| %>
        <li>
            <%= link_to "Delete", task_path(task), method: :delete %>    
            <%= task.name %>
        </li>
    <%end%>
</ul>